.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.CommentsTitle {
  padding-left: 2rem;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: left;
}

.authorName {
  font-size: 15px;
  word-wrap: break-word;
  display: flex;
}

.authorName .authornameSpacing {
  margin-right: 15px;
  font-weight: 700;
}

.authorImage {
  text-align: left;
}

.authorImage img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.commentWrapper {
  margin-bottom: 10px;
}
